<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>支付日志查询</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--angular-->
    <script src="../plugins/angularjs/angular.min.js"></script>

    <!--angular分页插件相关-->
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <script src="../plugins/angularjs/pagination.js"></script>

    <script src="../plugins/angularjs/base_pagination.js"></script>
    <script src="../plugins/angularjs/service/payService.js"></script>
    <script src="../plugins/angularjs/controller/baseController.js"></script>
    <script src="../plugins/angularjs/controller/payController.js"></script>

</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="payController">
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">支付日志查询</h3>
</div>

<div class="box-body">
    <!-- 数据表格 -->
    <div class="table-box">

        <div class="box-tools pull-right">
            <div class="has-feedback">
                <input placeholder="用户名称" ng-model="searchEntity.userId">
                <select ng-model="searchEntity.tradeState">
                    <option value="">全部</option>
                    <option value="0">未支付</option>
                    <option value="1">已支付</option>
                </select>
                <button ng-click="reloadPage()" class="btn btn-default" title="搜索">搜索</button>
            </div>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="sorting_asc">支付订单号</th>
                <th class="sorting">创建日期</th>
                <th class="sorting">支付日期</th>
                <th class="text-center">支付金额</th>
                <th class="text-center">用户名称</th>
                <th class="text-center">交易流水号</th>
                <th class="text-center">支付状态</th>
                <th class="text-center">支付类型</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in list">
                <td>{{data.outTradeNo}}</td>
                <td>{{data.createTime}}</td>
                <td>{{data.payTime}}</td>
                <td>{{data.totalFee}}</td>
                <td>{{data.userId}}</td>
                <td>{{data.transactionId}}</td>
                <td>{{payStatus[data.tradeState]}}</td>
                <td>{{payType[data.payType]}}</td>
            </tr>
            </tbody>
        </table>
        <!--数据列表/-->
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!-- 数据表格 /-->
</div>
</body>
</html>